@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

body,
html {
  font: 14px/21px 'OpenSansR', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

strong {
  font-weight: bold;
}
.stop-scrolling {
  overflow: hidden;
  height: 100%;
}
img {
  width: 100%;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  color: #8F7E4F;
  font-size: 1.5rem;
  font-family: 'Courgette', cursive;
}

img {
  max-width: 100%;
}

/* header */

.logo {
  width: 25px;
}

button:focus {
  outline: none;
}

.hamburgerIcon {
  width: 25px;
}

.navbar {
  background: #FDFDFD;
  font-family: 'OpenSansL', sans-serif;
  font-size: 16px;
  z-index: 1;
}

header hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-color: #141414;
}

.nav-item .nav-link::after {
  display: block;
  content: " ";
  width: 200px;
  margin: 15px auto 15px;
  border-top: 0.8px solid #141414;
}

.icon-bar {
  background-color: #141414;
  width: 20px;
}

.cross {
  display: none;
  width: 15px;
}

.someIcons a {
  width: 30px;
}

/* ---------------------------- homepage ---------------------------- */

/* home-section  */

.home-section {
  padding-top: 30%;
}

.home-section .section1 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1532938063/genadi/homePage/genadi.png');
  background-size: cover;
}

.home-section h1 {
  letter-spacing: 0.2rem;
  line-height: 3rem;
  width: 80%;
}

.home-section__text {
  width: 55%;
}

.smaller {
  font-size: 70%;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
}

.home-section .section1 p {
  font-size: 1.5rem;
  font-family: 'OpenSansL', sans-serif;
  letter-spacing: 0.05rem;
  line-height: 2.2rem;
}

/* projects-section */

.projects-section {
  height: 300px;
  margin-top: 25%;
}

.projects-section__item--text {
  position: absolute;
  bottom: 0;
  margin-left: 8%;
}

.projects-section__item {
  margin: 0.5%;
  border-radius: 15px;
}

.projects-section__item h4 {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #F7F7F7;
}

.projects-section__item p {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1rem;
  color: #8F7E4F;
}

.projects-section__item1 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1533108351/genadi/homePage/mashmo_clothing.jpg');
  background-position: center;
  background-size: cover;
}

.projects-section__item2 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1533108351/genadi/homePage/vasilena.jpg');
  background-position: center;
  background-size: cover;
}

.projects-section__item2 h4 {
  color: #141414;
}

.projects-section__item3 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1533108351/genadi/homePage/personal_portfolio.jpg');
  background-position: center;
  background-size: cover;
}

.slick-slide {
  transition: all 0.8s ease-in;
  transform: scale(0.9);
}

.slick-current {
  transform: scale(1);
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #8F7E4F;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #8F7E4F;
}

.arrow-link {
  font-size: 1.2rem;
  color: #8F7E4F;
  letter-spacing: 0.15rem;
}

/* testimonials-section */

.testimonials-section {
  margin-top: 33%;
  padding-top: 7%;
  background-color: #FDFDFD;
  height: 500px;
  padding-bottom: 10%;
}

.testimonials-section__heading p {
  color: #8F7E4F;
  font-size: 0.9rem;
}

.testimonials-section__heading h4 {
  color: #141414;
}

.testimonials-section__content p {
  color: #141414;
  font-family: 'OpenSansL', sans-serif;
  
}

/* contact-section */

.contact-section {
  margin-top: 20%;
  width: 100%;
}

.contact-section h2 {
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  color: #707070;
}

.contact-section__form input,
.contact-section__form textarea,
.contact-section__form button {
  outline: none;
  border: 0;
}

.contact-section__form button {
  width: 95%;
  margin-top: 2.5rem;
  padding: 1rem 0;
  border-radius: 15px;
  background-color: #8F7E4F;
  color: #F7F7F7;
  text-transform: uppercase;
  font: 14px/21px 'OpenSansR', sans-serif;
}

.contact-section__form input,
.contact-section__form textarea {
  width: 100%;
  padding: 4rem 0 1rem 0;
  border-bottom: 1px solid #8F7E4F;
}

.contact-section__form input::placeholder,
.contact-section__form textarea::placeholder {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.1rem;
}
.contact-section__form input[name="Name"] {
  padding-top:2rem;
}
/* footer */
.footer{
  margin-top:25%;
}
.footer__text a{
  color: #8F7E4F;
  font-size:1rem;
}

.footer__logo,
.footer__copyright{
  border-top: 1px solid #8F7E4F;
}

/* ---------------------------- aboutpage ---------------------------- */

/* aboutpage__section1 */
#aboutpage h2{
  letter-spacing: 0.2rem;
  color: rgb(173, 157, 114);
  margin-top:25%;
}

.aboutpage__blockquote{
  border-left: 3px solid #8F7E4F;
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: 'OpenSansL', sans-serif;
  color: #8F7E4F;
}
.aboutpage__text h3{
  padding-bottom: 1rem;
}
.aboutpage__text p{
  font-family: 'OpenSansL', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
}
/* aboutpage__section2 */
.aboutpage__section2{
  height: 350px;
}

/* ---------------------------- skillspage ---------------------------- */

/* skillspage__section1 */
#skillspage h2{
  letter-spacing: 0.2rem;
  color: #8F7E4F;
  margin-top:25%;
}

.skillspage-section__heading h3{
  padding-bottom: 1.5rem;
}

.skillspage-section__heading img{
  width: 50px;
}
.skillspage__text p{
  font-family: 'OpenSansL', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
}
/* skillspage__section2 */
.skillspage__section.section2{
  background-color: #FDFDFD;
}
/* skillspage__icons */
.skillspage__icons{
  background-color: #FDFDFD;
}

.skillspage__icons1 img{
  width:50px;
}

.skillspage__icons2 img{
  width:35px;
}

.skillspage__icons3 img{
  width:25px;
}

.skillspage__icons img{
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.5s ease;
}

.skillspage__icons img:hover{
  filter: grayscale(0);
  opacity: 1;
  transform: scale(1.1)
}


/* skillspage__gallery */
.skillspage__gallery img{
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.5s ease;
}

.skillspage__gallery img:hover{
  filter: grayscale(0);
  opacity: 1;
}

.skillspage__gallery--modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 50% 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  text-align: right;

}

#skillspage__gallery--modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  animation-name: zoom;
  animation-duration: 0.6s;
  filter: grayscale(0);
  opacity: 1;
}

.skillspage__gallery--modal-cross {
  width:15px;
  transition: 0.3s;
}

/* ---------------------------- projectspage ---------------------------- */

#projectspage h2{
  letter-spacing: 0.2rem;
  color: #8F7E4F;
  margin-top:25%;
}
.projects__item{
  height: 200px;
  width:100%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.projects__item1{
  background-image: url('http://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888883/genadi/projectspage/mashmo_clothing_ecommerce.jpg');
}
.projects__item2{
  background-image: url('http://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888814/genadi/projectspage/vasilena.jpg');
}
.projects__item3{
  background-image: url('http://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888817/genadi/projectspage/personal_portfolio.png');
}
.projects__item4{
  background-image: url('http://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888818/genadi/projectspage/print_design.png');
}
.projects__item5{
  background-image: url('http://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888824/genadi/projectspage/logo_design.png');
}
.projects__item6{
  background-image: url('http://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888817/genadi/projectspage/3d_design.jpg');
}

.projects__item--text {
  position: absolute;
  bottom: 0;
  font-family: 'HelveticaNeue', sans-serif;
}

.projects__item--text h4 {
  color: #F7F7F7;
  font-size: 1.2rem;
}

.projects__item--text p {
  color:#8F7E4F;
}

.projects__item2 .projects__item--text h4{
  color: #141414;
}

/* ---------------------------- contactpage ---------------------------- */

#contactpage h2{
  letter-spacing: 0.2rem;
  color: #8F7E4F;
  margin-top:25%;
}
#contactpage .contact-section{
  margin-top:0;
}

#contactpage .contact-section h2 {
  font-size: 2rem;
  color: #707070;
  margin-top:0;
}

.contact-section__text--bigger{
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.3rem;
}