body,
html {
  font: 14px/21px 'OpenSansR', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

strong {
  font-weight: bold;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

/* header */

.logo {
  width: 25px;
}

button:focus {
  outline: none;
}

.hamburgerIcon {
  width: 25px;
}

.navbar {
  background: #FDFDFD;
  font-family: 'OpenSansL', sans-serif;
  font-size: 16px;
  z-index: 1;
}

header hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-color: #1A1A1A;
}

.nav-item .nav-link::after {
  display: block;
  content: " ";
  width: 200px;
  margin: 15px auto 15px;
  border-top: 0.8px solid #1A1A1A;
}

.icon-bar {
  background-color: #1A1A1A;
  width: 20px;
}

.cross {
  display: none;
  width: 15px;
}

.someIcons a {
  width: 30px;
}

/* ---------------------------- homepage ---------------------------- */

/* home-section  */

.home-section {
  padding-top: 30%;
}

.home-section .section1 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1532938063/genadi/homePage/genadi.png');
  background-size: cover;
}

.home-section h1 {
  letter-spacing: 0.2rem;
  line-height: 3rem;
  width: 80%;
}

.home-section__text {
  width: 55%;
}

.smaller {
  font-size: 70%;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
}

.home-section .section1 p {
  font-size: 1.5rem;
  font-family: 'OpenSansL', sans-serif;
  letter-spacing: 0.05rem;
  line-height: 2.2rem;
}

/* projects-section */

.projects-section {
  height: 300px;
  margin-top: 25%;
}

.projects-section__item--text {
  position: absolute;
  bottom: 0;
  margin-left: 8%;
}

.projects-section__item {
  margin: 0.5%;
  border-radius: 15px;
}

.projects-section__item h4 {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #F7F7F7;
}

.projects-section__item p {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1rem;
  color: #8F7E4F;
}

.projects-section__item1 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1533108351/genadi/homePage/mashmo_clothing.jpg');
  background-position: center;
  background-size: cover;
}

.projects-section__item2 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1533108351/genadi/homePage/vasilena.jpg');
  background-position: center;
  background-size: cover;
}

.projects-section__item2 h4 {
  color: #141414;
}

.projects-section__item3 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1533108351/genadi/homePage/personal_portfolio.jpg');
  background-position: center;
  background-size: cover;
}

.slick-slide {
  transition: all 0.8s ease-in;
  transform: scale(0.9);
}

.slick-current {
  transform: scale(1);
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #8F7E4F;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #8F7E4F;
}

.projects-section__item--link {
  font-size: 1.2rem;
  color: #8F7E4F;
  letter-spacing: 0.15rem;
}

/* testimonials-section */

.testimonials-section {
  margin-top: 33%;
  padding-top: 7%;
  background-color: #FDFDFD;
  height: 500px;
  padding-bottom: 10%;
}

.testimonials-section__heading p {
  color: #8F7E4F;
  font-size: 0.9rem;
}

.testimonials-section__heading h4 {
  color: #141414;
}

.testimonials-section__content p {
  color: #141414;
  font-family: 'OpenSansL', sans-serif;
  
}

/* contact-section */

.contact-section {
  margin-top: 20%;
  width: 100%;
}

.contact-section h2 {
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  color: #707070;
}

.contact-section__form input,
.contact-section__form textarea,
.contact-section__form button {
  outline: none;
  border: 0;
}

.contact-section__form button {
  width: 95%;
  margin-top: 2.5rem;
  padding: 1rem 0;
  border-radius: 15px;
  background-color: #8F7E4F;
}

.contact-section__form input,
.contact-section__form textarea {
  width: 100%;
  padding: 4rem 0 1rem 0;
  border-bottom: 1px solid #8F7E4F;
}

.contact-section__form input::placeholder,
.contact-section__form textarea::placeholder {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.1rem;
}
.contact-section__form input[name="Name"] {
  padding-top:3rem;
}
/* footer */
.footer{
  margin-top:25%;
}
.footer__text a{
  color: #8F7E4F;
  font-size:1rem;
}

.footer__logo,
.footer__copyright{
  border-top: 1px solid #8F7E4F;
}



/* projectSection */

/* #homepage .section1 h1 {
  letter-spacing: 0.2rem;
  line-height: 3rem;
}

#homepage .section1 .home-section__text {
  width:150px;
}

#homepage .section1 h1 .smaller {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
}

#homepage .section1 p {
  font-size: 1.7rem;
  font-family: OpenSansL;
  letter-spacing: 0.05rem;
  line-height: 2.2rem;
} */