@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0)
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0)
  }

  to {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}

@keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}

body,
html {
  font: 14px/21px 'OpenSansR', sans-serif;
  width: 100%;
  overflow-x: hidden;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

strong {
  font-weight: bold;
}

.stop-scrolling {
  overflow: hidden;
  height: 100%;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  color: #8F7E4F;
  font-size: 1.5rem;
  font-family: 'Courgette', cursive;
}

img {
  max-width: 100%;
}

/* header */
.logo {
  width: 25px;
}

button:focus {
  outline: none;
}

.hamburgerIcon {
  width: 25px;
}

.navbar {
  background: #FDFDFD;
  font-family: 'OpenSansL', sans-serif;
  font-size: 16px;
  z-index: 1;
  padding: 0.5rem 1.2rem;
}

.navbar-nav {
  height: 100vh;
  padding-top: 10vh;
}

header hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-color: #141414;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.nav-item .nav-link::after {
  display: block;
  content: " ";
  width: 200px;
  margin: 20px auto 20px;
  border-top: 0.8px solid #141414;
}

.icon-bar {
  background-color: #141414;
  width: 20px;
}

.cross {
  display: none;
  width: 15px;
}

header .someIcons {
  padding-top: 5vh;
}

.someIcons a {
  width: 30px;
}

/* ---------------------------- homepage ---------------------------- */
/* home-section  */
.home-section {
  padding-top: 30%;
}

.home-section .section1 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_591/v1532938063/genadi/homePage/genadi.png');
  background-size: cover;
}

.home-section h1 {
  letter-spacing: 0.2rem;
  line-height: 3rem;
  width: 80%;
}

.home-section__text {
  width: 12rem;
  margin-left: 1.2rem;
}

.smaller {
  font-size: 70%;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
}

.home-section .section1 p {
  font-size: 1.5rem;
  font-family: 'OpenSansL', sans-serif;
  letter-spacing: 0.05rem;
  line-height: 2.2rem;
  margin-top: 5%;
}

/* projects-section */
.projects-section {
  height: 300px;
  margin-top: 25%;
}

.projects-section__item--text {
  position: absolute;
  bottom: 0;
  margin-left: 8%;
}

.projects-section__item {
  margin: 0.5%;
  border-radius: 15px;
}

.projects-section__item h4 {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #F7F7F7;
}

.projects-section__item p {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1rem;
  color: #8F7E4F;
}

.projects-section__item1 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1533108351/genadi/homePage/mashmo_clothing.jpg');
  background-position: center;
  background-size: cover;
}

.projects-section__item2 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1533108351/genadi/homePage/vasilena.jpg');
  background-position: center;
  background-size: cover;
}

.projects-section__item2 h4 {
  color: #141414;
}

.projects-section__item3 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1533108351/genadi/homePage/personal_portfolio.jpg');
  background-position: center;
  background-size: cover;
}

.slick-slide {
  -webkit-transition: -webkit-transform 0.8s ease-in;
  transition: -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
  transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.slick-current {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #8F7E4F;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #8F7E4F;
}

.arrow-link {
  font-size: 1.2rem;
  color: #8F7E4F;
  letter-spacing: 0.15rem;
  margin-left: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.arrow-link:hover {
  color: #8F7E4F;
  text-decoration: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* testimonials-section */
.testimonials-section {
  margin-top: 33%;
  padding-top: 7%;
  background-color: #FDFDFD;
  height: 450px;
  padding-bottom: 3rem;
}

.testimonials-section__item {
  margin: 1rem 1.2rem 0 1.2rem;
}

.testimonials-section__heading p {
  color: #8F7E4F;
  font-size: 0.9rem;
}

.testimonials-section__heading img {
  width: 80px;
}

.testimonials-section__heading h4 {
  color: #141414;
}

.testimonials-section__content {
  text-align: center;
}

.testimonials-section__content p {
  color: #141414;
  font-family: 'OpenSansL', sans-serif;
  width: 270px;
}

/* contact-section */
.contact-section {
  margin-top: 20%;
  width: 100%;
  padding: 0 1.2rem;
}

.contact-section a {
  color: #8F7E4F;
}

#contactPage .contact-section:last-of-type {
  background-color: #FDFDFD;
}

.contact-section h2 {
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  color: #707070;
}

.contact-section__form input,
.contact-section__form textarea,
.contact-section__form button {
  outline: none;
  border: 0;
}

.contact-section__form button {
  width: 95%;
  margin-top: 2.5rem;
  padding: 1rem 0;
  border-radius: 15px;
  background-color: #8F7E4F;
  color: #F7F7F7;
  text-transform: uppercase;
  font: 14px/21px 'OpenSansR', sans-serif;
}

.contact-section__form button:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out both;
          animation: heartbeat 1.5s ease-in-out both;
}

.contact-section__form input,
.contact-section__form textarea {
  width: 100%;
  padding: 4rem 0 1rem 0;
  border-bottom: 1px solid #8F7E4F;
}

.contact-section__form input::-webkit-input-placeholder,
.contact-section__form textarea::-webkit-input-placeholder {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.1rem;
}

.contact-section__form input:-ms-input-placeholder,
.contact-section__form textarea:-ms-input-placeholder {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.1rem;
}

.contact-section__form input::placeholder,
.contact-section__form textarea::placeholder {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.1rem;
}

.contact-section__form input[name="Name"] {
  padding-top: 2rem;
}

/* footer */
.footer {
  margin-top: 25%;
  padding: 0 3rem;
}

.footer__text a {
  color: #8F7E4F;
  font-size: 1rem;
}

.footer__part1,
.footer__copyright {
  border-top: 1px solid #707070;
}

.footer__copyright {
  border-top: 1px solid #707070;
  margin: 0 1rem;
}

/* ---------------------------- aboutpage ---------------------------- */
/* aboutpage__section1 */
#aboutpage h2 {
  letter-spacing: 0.2rem;
  color: rgb(173, 157, 114);
  margin-top: 25%;
  padding: 0 1.2rem;
}

.aboutpage__blockquote {
  border-left: 3px solid #8F7E4F;
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: 'OpenSansL', sans-serif;
  color: #8F7E4F;
  margin: 0 1.2rem;
}

.aboutpage__blockquote.black {
  color: #141414;
}

.aboutpage__blockquote p {
  width: 250px;
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1534408077/genadi/quotes.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 1rem 0 1rem 2rem;
  margin-left: 1rem;
}

.aboutpage__text {
  padding: 0 1.2rem;
}

.aboutpage__text p a {
  color: #8F7E4F;
  text-decoration: none;
}

.aboutpage__text h3 {
  padding-bottom: 1rem;
}

.aboutpage__text p {
  font-family: 'OpenSansL', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/* aboutpage__section2 */
.aboutpage__section2 {
  height: 300px;
}

.aboutpage__section2 .slick-list {
  height: 400px;
}

/* ---------------------------- skillspage ---------------------------- */
/* skillspage__section1 */
#skillspage h2 {
  letter-spacing: 0.2rem;
  color: #8F7E4F;
  margin-top: 25%;
  margin-left: 1.2rem;
}

.skillspage__section {
  padding: 0 1.2rem;
}

.skillspage-section__heading h3 {
  padding-bottom: 1.5rem;
}

.skillspage-section__heading img {
  width: 50px;
}

.skillspage__text p {
  font-family: 'OpenSansL', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/* skillspage__section2 */
.skillspage__section.section2 {
  background-color: #FDFDFD;
}

/* skillspage__icons */
.skillspage__icons {
  background-color: #FDFDFD;
}

.skillspage__icons1 img {
  width: 30px;
}

.skillspage__icons2 img {
  width: 25px;
}

.skillspage__icons3 img {
  width: 20px;
}

.skillspage__icons img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.skillspage__icons img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1)
}

/* skillspage__gallery */
.skillspage__gallery {
  padding: 0 1.2rem;
}

.skillspage__gallery img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.skillspage__gallery img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.skillspage__gallery--modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  text-align: right;
}

#skillspage__gallery--modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.skillspage__gallery--modal-cross {
  width: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* ---------------------------- projectspage ---------------------------- */
#projectspage {
  padding: 0 1.2rem;
}

#projectspage h2 {
  letter-spacing: 0.2rem;
  color: #8F7E4F;
  margin-top: 25%;
}

.projects__item {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.projects__item1 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888883/genadi/projectspage/mashmo_clothing_ecommerce.jpg');
}

.projects__item2 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888814/genadi/projectspage/vasilena.jpg');
}

.projects__item3 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888817/genadi/projectspage/personal_portfolio.png');
}

.projects__item4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888818/genadi/projectspage/print_design.png');
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888818/genadi/projectspage/print_design.png');
}

.projects__item5 {
  background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888824/genadi/projectspage/logo_design.png');
}

.projects__item6 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888817/genadi/projectspage/3d_design.jpg');
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_700/v1533888817/genadi/projectspage/3d_design.jpg');
}

.projects__item--text {
  position: absolute;
  bottom: 0;
  font-family: 'HelveticaNeue', sans-serif;
}

.projects__item--text h4 {
  color: #F7F7F7;
  font-size: 1.2rem;
}

.projects__item--text p {
  color: #8F7E4F;
}

.projects__item2 .projects__item--text h4 {
  color: #141414;
}

/* ---------------------------- contactpage ---------------------------- */
#contactMe footer {
  margin: 0;
}

#contactpage h2 {
  letter-spacing: 0.2rem;
  color: #8F7E4F;
  margin-top: 25%;
  padding-left: 1.2rem;
}

#contactpage .contact-section:last-of-type {
  padding: 2rem 0;
}

#contactpage .contact-section {
  margin-top: 0;
}

#contactpage .contact-section h2 {
  font-size: 2rem;
  color: #707070;
  margin-top: 0;
}

.contact-section__text--bigger {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1.3rem;
}

@media screen and (min-width: 350px) {

  /* footer */
  .footer__text p {
    width: 290px;
  }

  /* ---------------------------- homepage ---------------------------- */
  /* home-section  */
  .home-section__text {
    padding: 5% 0;
  }

  /* testimonials-section */
  .testimonials-section--slick {
    padding-bottom: 1rem;
  }

  /* ---------------------------- aboutpage ---------------------------- */
  /* aboutpage__section2 */
  .aboutpage__section2 {
    height: 370px;
  }

  .aboutpage__section2 .slick-list {
    height: 450px;
  }

  .aboutpage__blockquote p {
    width: 250px;
    background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1534408077/genadi/quotes.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 0 2rem 2rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 400px) {

  /* ---------------------------- homepage ---------------------------- */
  /* home-section  */
  .home-section__text {
    padding: 12% 0;
  }

  /* testimonials-section */
  .testimonials-section {
    height: 450px;
    padding-bottom: 5rem;
  }

  .testimonials-section--slick {
    padding-bottom: 2rem;
  }

  /* ---------------------------- aboutpage ---------------------------- */
  /* aboutpage__section2 */
  .aboutpage__section2 {
    height: 470px;
  }

  .aboutpage__section2 .slick-list {
    height: 550px;
  }

  /* ---------------------------- projectspage ---------------------------- */
  .projects__item {
    height: 300px;
  }
}

@media screen and (min-width: 450px) {

  /* ---------------------------- aboutpage ---------------------------- */
  /* aboutpage__section2 */
  .aboutpage__section2 {
    height: 520px;
  }

  .aboutpage__section2 .slick-list {
    height: 600px;
  }
}

@media screen and (min-width: 500px) {
  .footer__copyright {
    border-top: 1px solid #707070;
    margin: 0 5rem;
  }

  /* ---------------------------- homepage ---------------------------- */
  /* projects-section */
  .projects-section {
    height: 500px;
  }

  /* contact-section */
  .contact-section {
    margin-top: 20%;
    width: 100%;
    padding: 0 2rem;
  }

  /* testimonials-section */
  .testimonials-section--slick {
    padding-bottom: 2rem;
  }

  /* ---------------------------- aboutpage ---------------------------- */
  /* aboutpage__section2 */
  .aboutpage__section2 {
    height: 620px;
  }

  .aboutpage__section2 .slick-list {
    height: 650px;
  }
}

@media screen and (min-width: 576px) {

  /* header */
  .arrow-link {
    margin-left: 3rem;
  }

  .nav-item .nav-link::after {
    width: 300px;
  }

  .navbar {
    padding: 0.7rem 3rem;
  }

  /* ---------------------------- homepage ---------------------------- */
  /* home section */
  .home-section .section1 {
    background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,w_800/v1532938063/genadi/homePage/genadi.png');
  }

  .home-section__text {
    margin-left: 3rem;
  }

  /* testimonials-section */
  .testimonials-section__item {
    margin: 1rem 3rem 0 3rem;
  }

  /* contact section */
  .contact-section {
    padding: 0 3rem;
  }

  /* ---------------------------- aboutpage ---------------------------- */
  #aboutpage h2 {
    padding: 0 3rem;
  }

  .aboutpage__blockquote {
    margin: 0 3rem;
  }

  .aboutpage__section2 {
    height: 250px;
  }

  .aboutpage__section2 .slick-list {
    height: 300px;
  }

  .aboutpage__text {
    padding: 0 3rem;
  }

  /* ---------------------------- skillspage ---------------------------- */
  #skillspage h2 {
    margin-left: 3rem;
  }

  .skillspage__section {
    padding: 0 3rem;
  }

  .skillspage__gallery {
    padding: 0 3rem;
  }

  .skillspage__gallery .gallery-img {
    width: 50%;
  }

  .skillspage__gallery--modal {
    /* Sit on top */
    padding-top: 30vh;
  }

  /* ---------------------------- projectspage ---------------------------- */
  #projectspage h2 {
    padding: 0 3rem;
  }

  .projects__item {
    height: 200px;
    width: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  /* ---------------------------- contactpage ---------------------------- */
  #contactpage h2 {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 650px) {

  /* footer */
  .footer {
    margin-top: 15%;
  }

  /* ---------------------------- homepage ---------------------------- */
  /* home section */
  .home-section__text {
    padding: 15% 0;
  }

  /* testimonials-section */
  .testimonials-section {
    height: 450px;
  }

  /* ---------------------------- aboutpage ---------------------------- */
  .aboutpage__section2 {
    height: 300px;
  }

  .aboutpage__section2 .slick-list {
    height: 350px;
  }

  .skillspage__gallery--modal {
    /* Sit on top */
    padding-top: 25%;
  }

  /* ---------------------------- skillspage ---------------------------- */
  /* ---------------------------- projectspage ---------------------------- */
  /* ---------------------------- contactpage ---------------------------- */
}

@media screen and (min-width: 700px) {

  /* ---------------------------- homepage ---------------------------- */
  /* home section */
  .home-section {
    padding-top: 15%;
  }

  .home-section__text h1 {
    font-size: 3rem;
  }

  .home-section .section1 p {
    font-size: 1.7rem;
  }

  /* projects section */
  .projects-section {
    margin-top: 15%;
  }

  /* ---------------------------- aboutpage ---------------------------- */
  #aboutpage h2 {
    margin-top: 15%;
  }

  .aboutpage__section2 {
    height: 350px;
  }

  .aboutpage__section2 .slick-list {
    height: 400px;
  }

  /* ---------------------------- skillspage ---------------------------- */
  #skillspage h2 {
    margin-top: 15%;
  }

  /* ---------------------------- projectspage ---------------------------- */
  #projectspage h2 {
    margin-top: 15%;
  }

  /* ---------------------------- contactpage ---------------------------- */
  #contactpage h2 {
    margin-top: 15%;
  }

  /* footer */
  .footer {
    margin-top: 15%;
  }

  .footer__copyright {
    margin: 0 10rem;
  }
}

@media screen and (min-width: 800px) {

  /* ---------------------------- homepage ---------------------------- */
  /* home section */
  .home-section__text {
    padding: 20% 0;
  }

  /* testimonials section */
  .testimonials-section {
    height: 500px;
  }

  /* projects section */
  .projects-section {
    height: 600px;
  }

  /* ---------------------------- aboutpage ---------------------------- */
  .aboutpage__section2 {
    height: 400px;
  }

  .aboutpage__section2 .slick-list {
    height: 450px;
  }

  /* ---------------------------- skillspage ---------------------------- */
  .skillspage__gallery--modal {
    /* Sit on top */
    padding-top: 20%;
  }

  /* ---------------------------- projectspage ---------------------------- */
  /* ---------------------------- contactpage ---------------------------- */
}

@media screen and (min-width: 900px) {

  /* ---------------------------- homepage ---------------------------- */
  .home-section .section1 {
    background-image: url('https://res.cloudinary.com/dndvaqitq/image/upload/v1532938063/genadi/homePage/genadi.png');
  }

  /* ---------------------------- aboutpage ---------------------------- */
  .aboutpage__section2 {
    height: 450px;
  }

  .aboutpage__section2 .slick-list {
    height: 500px;
  }

  /* ---------------------------- skillspage ---------------------------- */
  /* ---------------------------- projectspage ---------------------------- */
  /* ---------------------------- contactpage ---------------------------- */
}

@media screen and (min-width: 992px) {
  .slick-slide {
    width: 270px;
  }

  .projects-section__item.slick-slide {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* header */
  header .someIcons {
    padding-top: 0;
  }

  .someIcons a img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .someIcons a img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2)
  }

  .nav-link {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
  }

  .navbar-nav {
    height: 5vh;
  }

  .nav-item .nav-link::after {
    display: none;
  }

  /* footer */
  .footer {
    margin-top: 10%;
    padding: 0 3.5rem;
  }

  .footer__copyright {
    margin: 0 15rem;
  }

  .footer__part1 {
    padding: 0 4rem;
  }

  /* ---------------------------- homepage ---------------------------- */
  /* home section */
  .home-section {
    padding-top: 6%;
  }

  .home-section .section1 {
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20%;
  }

  .home-section__text {
    width: 100%;
    padding: 15% 0;
    margin-left: -20%;
  }

  .home-section__text h1 {
    font-size: 4rem;
    line-height: 6rem;
    -webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .home-section__text .smaller {
    -webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .home-section .section1 p {
    font-size: 2rem;
    -webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .home-section__text p br {
    display: none;
  }

  /* projects section */
  .projects-section {
    height: 300px;
    padding: 0 10rem;
    margin-top: 10%;
  }

  .projects-section__item {
    border-radius: 0;
    margin: 0.5rem;
  }

  /* testimonials section */
  .testimonials-section {
    margin-top: 12%;
    padding-top: 4%;
    height: 400px;
  }

  .testimonials-section__content p {
    width: 420px;
  }

  /* contact section */
  .contact-section {
    margin-top: 10%
  }

  /* ---------------------------- aboutpage ---------------------------- */
  .aboutpage__section2 {
    height: 400px;
    margin: 0 10rem;
  }

  .aboutpage__section2--slick .slick-dots {
    bottom: 60px;
  }

  #aboutpage .arrow-link {
    margin-left: 6rem;
  }

  /* ---------------------------- skillspage ---------------------------- */
  .skillspage__gallery--modal {
    /* Sit on top */
    padding: 5vh 20vw;
  }

  /* ---------------------------- projectspage ---------------------------- */
  .projects__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .projects__item {
    height: 400px;
    width: 40%;
  }

  /* ---------------------------- contactpage ---------------------------- */
  .contact-section__form button {
    width: 50%;
  }

  #contactpage .contact-section:last-of-type {
    padding: 0;
  }

  #contactpage .contact-section h2 {
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {

  /* footer */
  /* ---------------------------- homepage ---------------------------- */
  /* home section */
  /* projects section */
  /* testimonials-section */
  /* ---------------------------- aboutpage ---------------------------- */
  .aboutpage__text {
    padding: 0px 7rem;
  }

  #aboutpage .arrow-link {
    margin-left: 10rem;
  }

  /* ---------------------------- skillspage ---------------------------- */
  /* ---------------------------- projectspage ---------------------------- */
  /* ---------------------------- contactpage ---------------------------- */
}

@media screen and (min-width: 1300px) {

  /* footer */
  .footer {
    margin-top: 5%;
  }

  /* ---------------------------- homepage ---------------------------- */
  /* home section */
  /* projects section */
  .projects-section {
    height: 350px;
  }

  /* testimonials-section */
  /* contact-section */
  .contact-section {
    margin-top: 5%;
  }

  /* ---------------------------- aboutpage ---------------------------- */
  #aboutpage h2 {
    margin-top: 10%;
  }

  /* ---------------------------- skillspage ---------------------------- */
  #skillspage h2 {
    margin-top: 10%;
  }

  /* ---------------------------- projectspage ---------------------------- */
  #projectspage h2 {
    margin-top: 10%;
  }

  /* ---------------------------- contactpage ---------------------------- */
  #contactpage h2 {
    margin-top: 10%;
  }
}

@media screen and (min-width: 1400px) {
  .projects-section {
    height: 400px;
  }

}